/* app/globals.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 42px 64px 22px;
}

#add-product {
  background-color: green;
  color: white;
  padding: 12px 22px;
}

.product-table {
  @media (max-width: 967px) {
    padding: 24px 36px;
  }
  padding: 24px 100px;
  font-size: 18px;
}

.selectedProduct {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
